#api-frame {
	position: absolute;
	height: 100%;
	width: 100%;
	border: none;
	margin: 0;
	padding: 0
}

#texture_carousel
{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	z-index: 0;
	margin: 0 auto;
	width: 70%;
	height: 200px;
}

.texture-slot {
	display: inline-block;
	height: 200px;
	width: 200px;
	font-size: 13px;
	font-family: "Open Sans", sans-serif;
	color: #bbb
}

.texture-slot ul.texture-info {
	border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.75);
	list-style: none;
	width: 190px;
	margin: 0;
	padding: 5px;
    /*padding: 5px !important;
    padding-start: 5px !important;
    -webkit-padding-start: 5px !important;*/
}

.texture-info li {
	margin: 0;
	padding: 0;
	line-height: 15px;
}

.texture-slot .img-frame {
	background: url("transparent-marker.png");
	margin: auto 5px;
	border-radius: 10px;
}

.texture-slot img {
	margin: 0 auto;
	height: 150px;
	display: block;
	image-rendering: auto;
}

.texture-slot div.material-info {
	font-size: 20px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: right;
	height: 100%;
	width: 100%;
	opacity: 0;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.texture-slot div.material-info i {
	position: absolute;
	bottom: 15px;
	right: 10px;
	background: rgba(0,0,0,0.8);
	padding: 8px;
	border-radius: 10px;
}

.texture-slot div.material-info:hover {
	opacity: 1;
}

div.material-info ul {
	list-style: square;
    padding: 0 2em !important;
    padding-start: 1em !important;
    -webkit-padding-start: 1em !important;
}